@mixin overlay {
    @content;
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

@mixin border($color, $width, $height) {
    height: $height;
    width: $width;
    background-color: $color;
}

.container .card:not(.card--hero) .card-inner {
    display: flex;
    justify-content: flex-start;
    text-align: left;
}

.card {
    max-width: 90vw;
    margin: 0 auto;
    position: relative;

    @include responsive(1440px) {
        max-width: 75vw;
    }

    &--hero {
        max-width: none;
        border: none;
        z-index: 0;

        &:after {
            @include overlay {
                background: linear-gradient(90deg, rgba(0, 163, 255, 0.3), rgba(0, 163, 255, 0.3));
            }
        }
    }
    
    &__border {
        @include border($gold, 150px, 1px);    
        
        &--hero {
            margin: 0 auto;
            @include border($gold, 177px, 2px);

            @include responsive(768px) {
                @include border($gold, 235px, 2px);
            }
        }
    }

    &-inner {
        padding: 3rem;
        text-align: center;    
        margin: 3rem 0;
        border-radius: 3px;
        min-height: 25vh;
        @include box-shadow;
        @include background-image;

        &--hero {
            display: flex;
            justify-content: center;
            flex-direction: column;
            height: calc(60vh - 80px);
            margin-top: 0;
            border-top: none;
            border-left: none;
            border-right: none;
        }
    }

    &__title--hero {
        color: #ffffff;
        z-index: 1;
        margin: 0;
        padding: 2rem 0;
        position: relative;
        box-sizing: border-box;
        font-size: 36px;
        @include responsive(768px) {
            font-size: 48px;
        }
    }

    &__tagline--hero {
        color: #ffffff;
        z-index: 1;
        margin: 0;
        padding: 2rem 0;
        font-size: 16px;
        font-weight: bold;
        letter-spacing: 0.5px;

        @include responsive(768px) {
            font-size: 18px;
        }
    }

    &--first {
        margin: 80px auto 0;
    }

    &__brief p {
        margin-top: 0;
    }

    &__date {
        font-size: 12px;
        padding-top: 2rem;
        padding-bottom: 1rem;
    }

    &__snippit {
        z-index: 1;

        @include responsive(768px) {
            max-width: 48%; 
        }

        @include responsive(1440px) {
            max-width: 25vw;  
        }

        a {
            color: $gold;
            &:hover {
                color: #201F1A;
            }
        }
    }

    &__title {
        margin: 0;
        padding: 2rem 0;
        position: relative;
    }

    &:not(.card--hero):after {
        @include overlay {
            background: linear-gradient(90deg, rgba(255, 255, 255, 0.8) 100%, rgba(255, 255, 255, 0.8s) 100%);

            @include responsive(768px) {
                background: linear-gradient(90deg, rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, 0) 80%);
            }

            @include responsive(1440px) {
                background: linear-gradient(90deg, rgba(255, 255, 255, 1) 30vw, rgba(255, 255, 255, 0) 80%);
            }
        }    
    }

}