header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #ffffff;
    z-index: 5;
    height: 80px;
}

.menu-header {

        &-inner {

            display: flex;
            justify-content: center;
            align-items: center;
            -webkit-box-flex: 1;
            -ms-flex-positive: 1;
            flex-grow: 1;
            height: 80px;
            margin: 0;
            padding: 0;
            
        }

        &__item {

            @include font-header-base(16px, 500);
            list-style: none;
            display: inline-block;
            color: #201F1A;

        }

        &__link {

            display: block;
            padding: 1.2rem;
            color: #201F1A;
            transition: color .3s;
            letter-spacing: 0.8px;

        }
}