body {
    margin: 0;
    background-image: url('http://res.cloudinary.com/dvgpcelrm/image/upload/v1519866148/topography_n3kmne.png');
    

    > pre {
        display: none;
        height: 0;
        width: 0;
    }
}

.container {
    position: relative;
}